@use "../abstracts/vars";

@mixin bp-medium {
  @media only screen and (min-width: 760px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 960px) {
    @content;
  }
}

@mixin bp-wide {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-huge {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}

@mixin blue-button {
  border: 5px solid vars.$neonblue;
  box-shadow: 0px 0px 22px vars.$lightneonblue;
}

@mixin pink-button {
  border: 5px solid vars.$neonpink;
  box-shadow: 0px 0px 22px vars.$lightneonpink;
}
