@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Permanent+Marker&display=swap");

$background-blue: #120a2d;
$neonblue: #20e3e3;
$lightneonblue: #5affff;
$neonpurple: #8200ff;
$lightneonpurple: #aa53ff;
$neonpink: #fa00ff;
$lightneonpink: #fc61ff;
$neongreen: #32FF00;
$lightneongreen: #88FF6B;

$displayfont: "Permanent Marker", cursive;
$paragraphfont: "Lato", sans-serif;
