@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Permanent+Marker&display=swap");

$background-blue: #120a2d;
$neonblue: #20e3e3;
$lightneonblue: #5affff;
$neonpurple: #8200ff;
$lightneonpurple: #aa53ff;
$neonpink: #fa00ff;
$lightneonpink: #fc61ff;
$neongreen: #32ff00;
$lightneongreen: #88ff6b;

$neonred: #ff0057;
$lightneonred: #ff6497;
$neonorange: #ff5b1d;
$lightneonorange: #ff8c62;
$neonyellow: #ffdd00;
$lightneonyellow: #ffeb66;

$white: #ffffff;
$lightpink: #feb0ff;
$lightgreen: #b9ffa7;
$lightpurple: #dfa7ff;
$lightblue: #bbffff;

$lightred: #ffa6b5;
$lightorange: #ffc2ac;
$lightyellow: #fff5b1;

$displayfont: "Permanent Marker", cursive;
$paragraphfont: "Lato", sans-serif;
