@use "../abstracts/vars";
@use "../abstracts/mixins";

#form-information {
  margin-block: 8rem 4rem;
  background-color: #e1d9e9;
  padding-block: 2rem 2rem;
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 90vw;
  border-radius: 3px;

  @include mixins.bp-medium {
    max-width: 400px;
  }

  h2 {
    text-align: center;
    color: vars.$background-blue;
    font-family: vars.$paragraphfont;
    font-weight: 600;

    margin-bottom: 2rem;
  }

  label {
    font-family: vars.$paragraphfont;
  }

  input {
    color: vars.$background-blue;
    padding: 8px;
    border-radius: 3px;

    &:focus {
      border: none;
      outline: 0;
      box-shadow: 0px 0px 6px 4px vars.$lightneonpurple;
    }
  }
}

.form-part {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

#form-wrapper {
  display: grid;
}

#login-submit {
  margin-top: 1rem;
  color: vars.$white;
  padding-block: 0.6rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background-color: vars.$lightneonpurple;
  border: none;
  font-size: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 22px vars.$lightneonpurple;
  }
}

.error-msg {
  font-size: 0.8rem;
  color: red;
  margin-top: -10px;
  margin-left: 2px;
}
