@use "../abstracts/vars";
@use "../abstracts/mixins";

html {
  scroll-behavior: smooth;
}
#header-logo {
  display: flex;
  justify-content: center;
}

#logo {
  height: auto;
  width: 2.5rem;
  margin-top: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 22px vars.$lightneonblue;
  }
}
/* 
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app-main {
  flex: 1;
} */

#nav-container {
  position: relative;
  z-index: 2;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2rem;
  }

  li {
    list-style: none;
    transition: 0.2s ease-out;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .inactive {
    display: none;
  }
  #burgermenu {
    display: block;
    cursor: pointer;
    position: fixed;
    left: 1rem;
    top: 1.5rem;
    z-index: 5;
  }
  #bar1,
  #bar2,
  #bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .active1 {
    transform: translateY(8px) rotate(45deg);
  }
  .active2 {
    opacity: 0;
  }
  .active3 {
    transform: translateY(-8px) rotate(-45deg);
  }

  #menu {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: vars.$background-blue;
    padding: 10rem 3rem 3rem 3rem;
    transition: ease-out;

    @include mixins.bp-large {
      width: 24rem;
      border-right: 3px solid vars.$neonpurple;
      box-shadow: 0px 0px 6px 4px vars.$lightneonpurple;
    }

    ul {
      text-align: center;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @include mixins.bp-large {
        justify-content: left;
        text-align: left;
      }
    }
    li:hover {
      transform: scale(1.1);
      text-shadow: 0px 0px 22px vars.$lightneonblue;
    }
  }
}

/* #footer {
  border-top: 3px solid vars.$white;
  box-shadow: 0px 0px 6px 4px vars.$white;
  background-color: vars.$background-blue;
}
 */
///ANIMATIONS

.invis {
  opacity: 0;
}
// Taken from https://loading.io/css/
.sv-heart-ld {
  position: absolute;
  top: 50%;
  left: 50%;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
