@use "../abstracts/vars";
@use "../abstracts/mixins";

#artists-main {
  overflow: hidden;
}

//HEADER
#artists-header {
  min-height: 40vh;
  text-align: center;
  display: grid;
  align-content: center;
  border-bottom: 3px solid vars.$white;
  box-shadow: 0px 0px 6px 4px vars.$white;

  @include mixins.bp-medium {
    min-height: 50vh;
  }
}

//FILTER OPTIONS
#filter-section {
  margin-block: 2rem 2rem;
}

//genre filter
#genre-filter {
  margin-block: 1rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @include mixins.bp-large {
    //justify-content: space-between;
  }
}

.genre-filter-button {
  margin-bottom: 1rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 2px solid vars.$neonblue;
  box-shadow: 0px 0px 6px 2px vars.$lightneonblue;
  width: 10rem;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}

#button-girlgroup {
  border: 2px solid vars.$neonred;
  box-shadow: 0px 0px 6px 2px vars.$lightneonred;
}

#button-boygroup {
  border: 2px solid vars.$neonpurple;
  box-shadow: 0px 0px 6px 2px vars.$lightneonpurple;
}

#button-soloist {
  border: 2px solid vars.$neonpink;
  box-shadow: 0px 0px 6px 2px vars.$lightneonpink;
}

#button-coed {
  border: 2px solid vars.$neongreen;
  box-shadow: 0px 0px 6px 2px vars.$lightneongreen;
}

//day filter

//ARTIST LIST
#Artistlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin-top: 6rem;
  margin-inline: auto;
}

.artist-card {
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
  text-align: left;
  width: 400px;
  height: 250px;
  position: relative;
}

.artist-title {
  background-color: #120a2da9;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  color: vars.$white;
  //text-shadow: 0px 0px 10px #ffffff;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.artist-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
