@use "../abstracts/vars";
@use "../abstracts/mixins";

#artists-main {
  overflow: hidden;
}

//HEADER
#artists-header {
  min-height: 40vh;
  text-align: center;
  display: grid;
  align-content: center;
  border-bottom: 3px solid vars.$white;
  box-shadow: 0px 0px 6px 4px vars.$white;

  @include mixins.bp-medium {
    min-height: 50vh;
  }
}

//FILTER OPTIONS
#filter-section {
  margin-block: 4rem 2rem;
  margin-inline: 1rem;

  @include mixins.bp-medium {
    margin-inline: 1rem;
  }

  @include mixins.bp-huge {
    margin-inline: 8rem;
  }

  @include mixins.bp-1800 {
    margin-inline: 18rem;
  }
}

//genre filter
#genre-filter {
  margin-block: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.genre-filter-button {
  margin-bottom: 1rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 2px solid vars.$neonblue;
  width: 10rem;
  font-size: 1rem;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 6px 2px vars.$lightneonblue;
  }
}

#button-girlgroup {
  border: 2px solid vars.$neonred;
  &:hover {
    box-shadow: 0px 0px 6px 2px vars.$lightneonred;
  }
}

#button-boygroup {
  border: 2px solid vars.$neonpurple;
  &:hover {
    box-shadow: 0px 0px 6px 2px vars.$lightneonpurple;
  }
}

#button-soloist {
  border: 2px solid vars.$neonpink;

  &:hover {
    box-shadow: 0px 0px 6px 2px vars.$lightneonpink;
  }
}

#button-coed {
  border: 2px solid vars.$neongreen;
  &:hover {
    box-shadow: 0px 0px 6px 2px vars.$lightneongreen;
  }
}

//day filter and search
#filter-day-search {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
  flex-wrap: wrap;
}

#day-filter {
  color: vars.$background-blue;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border: none;
  cursor: pointer;
  background-color: white;
  font-family: vars.$paragraphfont;
  font-size: 0.9rem;
  outline: 0;

  &:focus {
    //border: 2px solid vars.$neonblue;
    box-shadow: 0px 0px 6px 4px vars.$neonblue;
  }
}

#search-filter {
  border: none;
  background-color: vars.$white;
  font-family: vars.$paragraphfont;
  font-size: 1rem;
  padding-inline: 1rem;
  outline: 0;
  min-height: 2.5rem;

  &:focus {
    //border: 2px solid vars.$neonblue;
    box-shadow: 0px 0px 6px 4px vars.$neonblue;
    border: none;
  }
}

#sorting-button {
  background-color: vars.$white;
  color: vars.$background-blue;
  padding-inline: 1rem;
  border: none;
  cursor: pointer;
  min-height: 2.5rem;

  &:hover {
    box-shadow: 0px 0px 6px 4px vars.$neonblue;
  }
}

//ARTIST LIST
#Artistlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin-block: 6rem 6rem;
  margin-inline: 1rem;

  @include mixins.bp-huge {
    margin-inline: 8rem;
  }
}

.article-artist-card {
  overflow: hidden;

  transition: all 0.4s ease-out;
}

.artist-card {
  z-index: 1;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
  text-align: left;
  width: 350px;
  height: 250px;

  @include mixins.bp-medium {
    width: 400px;
  }
}

.artist-title {
  z-index: 1;
  position: relative;
  background-color: #120a2da9;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  color: vars.$white;
  //text-shadow: 0px 0px 10px #ffffff;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.artist-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

#artists-loading {
  color: vars.$white;
  text-align: center;
}

#artists-loader {
  display: grid;
  justify-content: center;
}

#search-result-container {
  text-align: center;
  color: vars.$white;
  margin-block: 4rem 6rem;

  h4 {
    margin-block: 1rem 1rem;
  }

  p {
    letter-spacing: 0.5px;
  }
}

.article-offset-ani {
  transform: translateY(5%);
  transform: translateX(-5%);
}
