@use "../abstracts/vars";
@use "../abstracts/mixins";

body {
  background-color: vars.$background-blue;
}

#main-landing {
  overflow: hidden;
  overflow-x: hidden;
  background-size: cover;
  position: absolute;
  background-position: center;
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: grid;
  align-content: center;
  justify-content: center;
}

#landing-buttons {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.landing-button {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  cursor: pointer;
  min-width: 10rem;
  text-align: center;
}

#artist-button {
  @include mixins.blue-button;
}

#program-button {
  @include mixins.pink-button;
}
