@use "../abstracts/vars";
@use "../abstracts/mixins";

#Artistlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 4rem;
}

.artist-card {
  background-color: lightcoral;
  border: 1px solid hotpink;
  cursor: pointer;
  text-align: center;
  max-width: 400px;
  max-height: 300px;
  position: relative;
}

.artist-title {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.artist-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
