@use "../abstracts/vars";
@use "../abstracts/mixins";

footer {
  border-top: 3px solid vars.$white;
  padding-block: 2rem 2rem;
  display: grid;
  justify-content: center;

  @include mixins.bp-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem 1rem;
  }

  p {
    text-align: center;
    margin-top: 1rem;

    @include mixins.bp-large {
      order: 3;
    }
  }
}

#footer-socials {
  display: flex;
  gap: 0.5rem;
}

.footer-social-wrapper {
  border-radius: 100%;
  background-color: transparent;
  border: none;
}

.footer-social {
  width: 2.5rem;
  cursor: pointer;
}

#footer-twitter {
  &:hover {
    box-shadow: 0px 0px 16px #00ddff;
  }
}

#footer-ig {
  &:hover {
    box-shadow: 0px 0px 16px #9900ff;
  }
}

#footer-yt {
  &:hover {
    box-shadow: 0px 0px 16px #ff0000;
  }
}

#footer-fb {
  &:hover {
    box-shadow: 0px 0px 16px rgb(35, 57, 255);
  }
}

.footer-logo {
  margin-bottom: 2rem;
  width: 3rem;
  margin-inline: auto;
  cursor: pointer;

  @include mixins.bp-large {
    order: 2;
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 0px 12px vars.$lightneonblue;
  }
}
